* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#nav--image {
    margin-left: 10px;
    max-width: 100px;
}

.nav {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 3px 7.4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

#main {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

#main--photo {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 600px;
}

#main--header {
    text-align: left;
    margin-bottom: 16px;
}

#main--des {
    margin-top: 0px;
}